<div class="row">
	<label for="name">Nome:</label><br />
		<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
</div>
<div class="row">
	<label for="email">E-mail:</label><br />
	<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
</div>
<div class="row">
	<label for="message">Mensagem:</label><br />
	<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
</div>
<input id="submit_button" type="submit" value="Enviar" />